.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 12px !important;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 72px;
}

@media (min-width:1920px) {
  .header {
    height: 102px;
  }
}

.header-buttons-container {
  column-gap: 45px;
}

@media (min-width:1920px) {
  .header-buttons-container {
    column-gap: 64px;
  }
}

.header-icons-wrapper {
  column-gap: 6.97px;
}

@media (min-width:1920px) {
  .header-icons-wrapper {
    column-gap: 9.8px;
  }
}

.header-icons {
  column-gap: 8.39px;
}

@media (min-width:1920px) {
  .header-icons {
    column-gap: 11.8px;
  }
}

.header-icon {
  height: 14.22px;
  width: 14.22px;
}

@media (min-width:1920px) {
  .header-icon {
    height: 20px !important;
    width: 20px !important;
  }
}

.header-buttons-wrapper {
  column-gap: 19.92px;
}

@media (min-width:1920px) {
  .header-buttons-wrapper {
    column-gap: 28px;
  }
}

.header-button {
  font-size: 7.82px;
}

@media (min-width:1920px) {
  .header-button {
    font-size: 11px;
  }
}

.header-logo {
  font-size: 17px;
}

@media (min-width:1920px) {
  .header-logo {
    font-size: 24px;
  }
}

.footer {
  padding-top: 41px;
}

@media (min-width:1920px) {
  .footer {
    padding-top: 58px;
  }
}

.footer-logo {
  font-size: 30.59px;
  margin-bottom: 28.45px;
}

@media (min-width:1920px) {
  .footer-logo {
    font-size: 43px;
    margin-bottom: 40px;
  }
}

.footer-buttons {
  margin-bottom: 44px !important;
  column-gap: 48px !important;
  font-size: 16px;
}

@media (min-width:1920px) {
  .footer-buttons {
    margin-bottom: 63px;
    column-gap: 68px;
    font-size: 22.5px;
  }
}

.footer-button {
  font-size: 16px;
}

@media (min-width:1920px) {
  .footer-button {
    font-size: 22.5px;
  }
}

.footer-bottom-bar {
  height: 37px;
}

@media (min-width:1920px) {
  .footer-bottom-bar {
    height: 52px;
  }
}

.footer-bottom-text {
  font-size: 9.96px;
  min-width: 189px;
}

@media (min-width:1920px) {
  .footer-bottom-text {
    font-size: 14px;
    min-width: 266px;
  }
 }